.search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Keep items to the right */
    background-color: #f179af; /* Set the background color */
    width: 100%; /* Stretch across the width of the container */
    padding: 10px 20px; /* Add padding for spacing, adjust as needed */
    margin: 0; /* Eliminate margins to ensure snug fit with the element above and no space on sides */
    margin-top: 3px;
    box-sizing: border-box; /* Include padding in the width calculation */
    border-radius: 10px 10px 10px 10px;
}

.search-bar .search-form {
    display: flex;
    align-items: center;
    box-sizing: border-box; /* Ensure form elements also respect box-sizing */
}

.search-bar .search-input {
    width: 0;
    opacity: 0;
    visibility: hidden; /* Hide the input initially */
    transition: all 0.5s ease-in-out;
    box-sizing: border-box; /* Ensure input respects box-sizing */
}

.search-bar .search-input.active {
    width: 200px; /* Desired width of input when active */
    opacity: 1;
    visibility: visible; /* Show the input when active */
    margin-right: 10px; /* Add some space between the input and the button */
    box-sizing: border-box; /* Ensure active input respects box-sizing */
}

.search-bar .search-icon-button {
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 34px;
    min-height: 34px;
    width: 34px !important; /* Fixed width */
    height: 34px !important; /* Fixed height */
    border: none;
    padding: 0;
    background-color: transparent; /* Maintain transparency */
    cursor: pointer;
    outline: none; /* Remove outline to prevent size changes on click/focus */
    box-sizing: border-box; /* Ensure button respects box-sizing */
}

.search-bar .search-icon-button img {
    width: 100%;
    height: auto;
    box-sizing: border-box; /* Ensure image respects box-sizing */
}
